@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}


html {
  height: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  background: #ffffff;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  margin-bottom: 50px;
}

.superior {
  width: 75%;
  display: inline-block;
}

.textofijo {
  width: 100%;
}

.negrita {
  font-weight: bold;
  display: inline;
}

.cursiva {
  font-style: italic;
  display: inline;
}

.fecha {
  font-style: italic;
  display: inline;
  font-weight:bolder;
  font-size: 130%;
  margin-left: 20px;
}

.nombre {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align:center;
  font-size: 200%;
  font-weight: bold;
}

.correo {
  text-align:center;  
}

.fijo {
  
  display: flex;
  margin: 0px;
  margin-top: 5px;
  text-align:center;
  font-size: 130%;
  white-space: pre-line;
}

.info p {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  
  text-align:left;
  font-size: 130%;
  white-space: pre-line;
  line-height: 2.5;
}

.info {
  border: 10px;
  text-overflow: ellipsis;
}

.barra-lateral {
  height: 100%;
  float: left;
  position: relative;
  background-color: rgb(107, 103, 103);
  width: 25%;
  color: #ffffff;  
}

#item {
  float: left;
  width: 75%;
}

#foto {
  width: 43%;
  margin-top: 20px;
}

.nav {
  position: relative;
  margin: 0 10%;
  text-align: left;
}

.nav p {
  position: relative;
  margin: 2.2em 0;
  line-height: 2.2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: all ease-out 200ms;
}

.p-activo {
  font-weight: bold;
  text-align: right;
  color: rgb(255, 255, 255);
}

.p-normal {
  color: rgb(190, 190, 190);
  font-weight:normal;
  text-align: left;
}

.nav p:hover {
  color: rgb(255, 255, 255);
  cursor:pointer; 
  font-weight: bold;
}

.nav p::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #000000, #ffffff)
} 

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgb(107, 103, 103);
  text-align: center;
  padding: 10px;
}
footer .pie {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

footer .pie .logo {
  width: 50px;
}

@media (max-width: 800px) {
  html{
    font-size: 8px;
  }
}